<style>
    body{background-color: cadetblue;}
</style>
<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-heart"></span>
            </a>
            <a class="navbar-brand navbar-right" href="#" style="letter-spacing: 10px;text-indent: 50px;" >
                图书管理信息系统
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggllogining -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/write">写文章</a></li>
                <li><a href="/ "><%=username%></a></li>
                <li><a href="/users/logout">退出</a></li>
              
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<script src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/bootstrap-3.3.7/dist/js/bootstrap.js"></script>